page-notificaciones {
	.clase_tr_superior{
		background:#0E6D78;
		color:#F9B247;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
	}
	.clase_tr_inferior{
		color:#0E6D78;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
	}

}
